html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #5286C1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}

button {
    background-color: rgba(255, 255, 255, 10%);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0%);

}